/* Index Music Block Carousel */
	.clsIndexAudioContainer .clsJQCarouselHead{
		float:left;
		width:200px;
		color:#FFFFFF;
		font:normal 18px/35px "Times New Roman", Times, serif;
		padding-left:10px;
	}
	.clsIndexAudioContainer .clsJQCarouselTabs{
		float:right;
	}
		.clsIndexAudioContainer .clsJQCarouselTabs li a{
			margin-right:2px;
		}
		.clsIndexAudioContainer .clsJQCarouselTabs li,
		.clsIndexAudioContainer .clsJQCarouselTabs li a,
		.clsIndexAudioContainer .clsJQCarouselTabs li a span{
			display:block;
			float:left;
			font:normal 12px Arial, Helvetica, sans-serif;
			height:36px;
			line-height:36px;
			text-align:right;
		}
		.clsIndexAudioContainer .clsJQCarouselTabs li{
			padding-left:4px;
			margin-left:5px;
		}
			.clsIndexAudioContainer .clsJQCarouselTabs li a{
			}
				.clsIndexAudioContainer .clsJQCarouselTabs li a span{
					padding:0 14px 0 10px;
					color:#F3EAED;
				}
		.clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-active, .clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-hover{
			background:url(carousel/bg-carosaltableft.gif) no-repeat left top;
		}
			.clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-active a, .clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-hover a{
				background:url(carousel/bg-carosaltabright.gif) no-repeat right top;
			}
				.clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-active a span, .clsIndexAudioContainer .clsJQCarouselTabs li.ui-state-hover a span{
					color:#000;
				}
/* carousel styles starts */

.clsIndexAudioContainer .ui-tabs .ui-tabs-panel { clear:left; 	min-height:192px;}
.clsIndexAudioContainer .ui-tabs .ui-tabs-hide { clear:left; 	min-height:192px; }

.clsIndexAudioContainer .clsCarouselContainer{
	height:210px;
	width:640px;
	padding:0px 0 0 5px;
}
	.clsIndexAudioContainer .ClsMusicListCarousel{
		padding:7px 0 10px 0;
	}
	.clsIndexAudioContainer .carouselMusicList{
		width: 640px;
		height: 210px;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 630px;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-clip-horizontal {
		width:  640px;
		height: 210px;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-item-horizontal {
		margin-right: 10px;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-item-placeholder {
		background: transparent url(carousel/loading-small.gif) 50% 50% no-repeat;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-item {
		width: 640px;
		height: 175px;
		padding:0;
		margin:0;
		border-bottom:1px solid #ebf2fa;
	}
	* html .clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-clip-horizontal,* html .clsIndexAudioContainer .carouselMusicList,* html .clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-item {
		width: 630px;
	}	
	* html .clsCarouselList{
		border-collapse:collapse;		
	}
	/*  Horizontal Buttons */
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-horizontal {
		position: absolute;
		right:560px;
		top:188px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/next-horizontal.gif) no-repeat 0 0;
	}

	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
		background-position: -23px 0;
	}

	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-horizontal:active {
		background-position: -46px 0;
	}

	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-horizontal {
		position: absolute;
		top: 188px;
		left: 7px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/prev-horizontal.gif) no-repeat 0 0;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
		background-position: -23px 0;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
		background-position: -46px 0;
	}
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
	.clsIndexAudioContainer .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsIndexAudioContainer .ClsImageMargin{
		margin:3px 0 3px 5px;
	}
	/* carousel styles ends */
/* Index Music Block Carousel ends*/








/* Index Featured Album Block Carousel starts*/
	.clsIndexFearuredAlbum .clsJQCarouselHead{
		width:200px;
		color:#FFFFFF;
		font:normal 18px/35px "Times New Roman", Times, serif;
		padding-left:10px;
	}
/* carousel styles starts */

.clsIndexFearuredAlbum .ui-tabs .ui-tabs-panel { clear:left;}
.clsIndexFearuredAlbum .ui-tabs .ui-tabs-hide { clear:left; }

.clsIndexFearuredAlbum .clsCarouselContainer{
	height:192px;
	width:630px;
	padding:15px 0 0 3px;
}
	.clsIndexFearuredAlbum .ClsMusicListCarousel{
		padding:7px 0 10px 0;
	}
	.clsIndexFearuredAlbum .carouselMusicList{
		width: 630px;
		height: 192px;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 630px;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-clip-horizontal {
		width:  630px;
		height: 192px;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-item-horizontal {
		margin-right: 10px;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-item-placeholder {
		background: transparent url(carousel/loading-small.gif) 50% 50% no-repeat;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-item {
		width: 630px;
		height: 160px;
		padding:0;
		margin:0;
		border-bottom:1px solid #F6EAEE;
	}
	/*  Horizontal Buttons */
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-horizontal {
		position: absolute;
		right:560px;
		top:169px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/next-horizontal.gif) no-repeat 0 0;
	}

	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
		background-position: -23px 0;
	}

	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-horizontal:active {
		background-position: -46px 0;
	}

	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-horizontal {
		position: absolute;
		top: 169px;
		left: 7px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/prev-horizontal.gif) no-repeat 0 0;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
		background-position: -23px 0;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
		background-position: -46px 0;
	}
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
	.clsIndexFearuredAlbum .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsIndexFearuredAlbum .ClsImageMargin{
		margin:3px 0 3px 5px;
	}
	/* carousel styles ends */
/* Index Featured Album Block Carousel ends*/



/* Index clsIndexTopChart Carousel starts*/
	.clsIndexTopChart .clsJQCarouselHead{
		float:left;
		width:200px;
		color:#FFFFFF;
		font:normal 18px/35px "Times New Roman", Times, serif;
		padding-left:10px;
	}
	.clsIndexTopChart .clsJQCarouselTabs{
		float:right;
	}
		.clsIndexTopChart .clsJQCarouselTabs li a{
			margin-right:2px;
		}
		.clsIndexTopChart .clsJQCarouselTabs li,
		.clsIndexTopChart .clsJQCarouselTabs li a,
		.clsIndexTopChart .clsJQCarouselTabs li a span{
			display:block;
			float:left;
			font:normal 12px Arial, Helvetica, sans-serif;
			height:36px;
			line-height:36px;
			text-align:right;
		}
		.clsIndexTopChart .clsJQCarouselTabs li{
			padding-left:4px;
			margin-left:10px;
		}
			.clsIndexTopChart .clsJQCarouselTabs li a{
			}
				.clsIndexTopChart .clsJQCarouselTabs li a span{
					padding:0 14px 0 10px;
					color:#F3EAED;
				}
		.clsIndexTopChart .clsJQCarouselTabs li.ui-state-active, .clsIndexTopChart .clsJQCarouselTabs li.ui-state-hover{
			background:url(carousel/bg-contentlinklist-left.gif) no-repeat left top;
		}
			.clsIndexTopChart .clsJQCarouselTabs li.ui-state-active a, .clsIndexTopChart .clsJQCarouselTabs li.ui-state-hover a{
				background:url(carousel/bg-contentlinklist-right.gif) no-repeat right top;
			}
				.clsIndexTopChart .clsJQCarouselTabs li.ui-state-active a span, .clsIndexTopChart .clsJQCarouselTabs li.ui-state-hover a span{
					color:#000;
				}
/* carousel styles ends */

/*Category*/
.clsVideoCarouselCategory .ui-tabs .ui-tabs-panel {
	clear:left;
}
.clsVideoCarouselCategory .clsCarouselContainer{
	min-height:192px;
	width:630px;
	padding:0 0 0 12px;
}
	.clsVideoCarouselCategory .ClsMusicListCarousel{
		padding:0;
	}
	* html .clsVideoCarouselCategory .clsCarouselContainer,* html .clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-clip-horizontal ,* html .clsVideoCarouselCategory .carouselMusicList,* html .clsVideoCarouselCategory .clsCarouselContainer{
		height:570px!important;		
	}	
	* html .clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-item{
		height:560px!important;		
	}	
	.clsVideoCarouselCategory .carouselMusicList{
		width: 630px;
		min-height:192px;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 630px;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-clip-horizontal {
		width:  630px;
		min-height:192px;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-item-horizontal {
		margin-right: 10px;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-item-placeholder {
		background: transparent url(carousel/loading-small.gif) 50% 50% no-repeat;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-item {
		width: 630px;
		min-height:192px;
		padding:0 0 0px 0;
		margin:0 0 20px 0;
		border-bottom:1px solid #F6EAEE;
	}
	/*  Horizontal Buttons */
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-horizontal {
		position: absolute;
		right:560px;
		top:inherit;
		bottom:-3px;
		*bottom:-20px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/next-horizontal.gif) no-repeat 0 0;
	}
	* html .clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-horizontal ,* html .clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-horizontal {
		bottom:-15px;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
		background-position: -23px 0;
	}

	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-horizontal:active {
		background-position: -46px 0;
	}

	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-horizontal {
		position: absolute;
		top:inherit;
		bottom:-3px;
		*bottom:-20px;
		left: 7px;
		width: 23px;
		height: 14px;
		cursor: pointer;
		background: transparent url(carousel/prev-horizontal.gif) no-repeat 0 0;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
		background-position: -23px 0;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-horizontal:active {
		background-position: -46px 0;
	}
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
	.clsVideoCarouselCategory .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
		cursor: default;
		background-position: -69px 0;
	}
	.clsVideoCarouselCategory .ClsImageMargin{
		margin:3px 0 3px 5px;
	}
			.clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-active, .clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-hover{
			background:none;
		}
			.clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-active a, .clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-hover a{
				background:none;
			}
				.clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-active a span, .clsVideoCarouselCategory .clsJQCarouselTabs li.ui-state-hover a span{
					color:#fff;
					display:block;
					text-indent:-999px;
				}
	/* carousel styles ends */

 	