.sliderwrapper{
background:url(../../../images/screen_outlook/bg-solutionsep.gif) repeat-x left bottom;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
/*width of featured content slider*/
height: 87px;
margin:0 10px;
}
.sliderwrapper .contentdiv{
	visibility: hidden; /*leave as is*/
	position: absolute; /*leave as is*/
	left: 0;  /*leave as is*/
	top: 0;  /*leave as is*/
	padding: 5px;
	background: #fff;
	height:100%;
	width:100%;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	padding:0;
}
.pagination{
	margin:-12px 0 0 0;
	float:right;
}

.pagination a{
	text-decoration: none;
	display:block;
	width:6px;
	height:6px;
	background:url(../../../images/screen_outlook/bg-slide.jpg) no-repeat left top;
	float:left;
	margin:0 0 0 5px;
	text-indent:-999em;
}

.pagination a:hover{
	background:url(../../../images/screen_outlook/bg-slide-active.jpg) no-repeat left top;
}
.pagination a.selected{
	background:url(../../../images/screen_outlook/bg-slide-active.jpg) no-repeat left top;
}
