/**
*    CSS for Autocomplete
*
*/

/*-----------  AutoComplete section starts ------------*/
* html .autocomplete{
   height: expression( this.scrollHeight > 349 ? "350px" : "auto" ); /* sets max-height for IE */
}
.autocomplete-w1 {
	background:url(../../images/screen_outlook/shadow.png) no-repeat bottom right;
	position:absolute;
	top:2px;
	left:1px; /* IE6 fix: */
	_background:none;
	_top:1px;
}
.autocomplete {
	width:200px !important;
	border:1px solid #7fd2ff !important;
	background:#FFF;
	cursor:default;
	text-align:left;
	max-height:350px;
	overflow:auto;
	margin:-6px 6px 6px -6px; /* IE specific: */
	_height:350px;
	_margin:0px 6px 6px 0;
	overflow-x:hidden;
}
.autocomplete .selected {
	background:#9fddff;
}
.autocomplete div {
	padding:2px 5px;
	white-space:nowrap;
}
.autocomplete strong {
	font-weight:normal;
	color:#3399FF;
}
/*-----------  AutoComplete section ends ------------*/
