.photo_stack {
	background:transparent url(../../images/screen_outlook/photo_stack.png) no-repeat scroll 0 0;
	bottom:20px;
	cursor:pointer;
	height:107px;
	left:36px;
	position:fixed;
	z-index:10;
	width:144px;
	float:left;
}
*html .photo_stack {
	background:transparent url(../../images/screen_outlook/photo_stack.gif) no-repeat scroll 0 0;
}
.photo_stack img {
	height:50px;
	margin:16px 0 0 12px;
	width:50px;
}
.stack_count {
	color:#154B58;
	font-size:12px;
	height:16px;
	padding:2px 0 0 14px;
	text-align:center;
	float:left;
	font-weight:bold;
}
.stack_count span{
	font-weight:normal;
	color:#000;
}
.photo_stack_info{
	width:20px;
	position:fixed;
	z-index:10;
	bottom:33px;
	left:144px;
}
*html .photo_stack_info{
	bottom:8px;
	left:106px;
	position:absolute;
}
.photo_stack_info_title{
	font-weight:bold;
	color:#666666;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:3px;
}
.photo_stack_info span{
	color:#0099CC;
	font-weight:bold;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
}
.clsPhotoStackSlideShow a, .clsPhotoStackSlideClear a,.clsPhotoStackCloseButton a, .clsPhotoStackSaveSlide a{
	background:transparent url(../../images/screen_outlook/icon-photostackslideshow.gif) no-repeat;
	display:block;
	cursor:pointer;
	text-indent:-999em;
	width:16px;
	height:16px;
	margin-top:10px;
}
	.clsPhotoStackSlideClear a{
		background:transparent url(../../images/screen_outlook/icon-photostackclear.gif) no-repeat;
	}
		.clsPhotoStackSaveSlide a{
			background:transparent url(../../images/screen_outlook/icon-savephotostack.gif) no-repeat;
		}
			.clsPhotoStackCloseButton a{
				background:transparent url(../../images/screen_outlook/icon-photostackclosebtn.gif) no-repeat right top;
				margin-top:6px !important;
				float:right;
				margin-right:15px;
				_margin-right:7px;
			}